# This file contains common pin mappings for the BigTreeTech Octopus
# and Octopus Pro boards. Select the appropriate micro-controller in "make
# menuconfig" and select : 

# https://github.com/bigtreetech/BIGTREETECH-OCTOPUS-Pro

#-------------------------------------------------------------------------------------------------------------
#
#   Klipper Firmware Configuration
#
#  USB comunication --------------------------------------
#
# [*] Enable extra low-level configuration options
#    Micro-controller Architecture (STMicroelectronics STM32)  --->
#    Processor model (STM32F446)  --->
#    Bootloader offset (32KiB bootloader)  --->
#    Clock Reference (12MHz crystal)  --->
#    Communication interface (USB (on PA11/PA12))  --->
#    USB ids  --->
#()  GPIO pins to set at micro-controller startup


#  CAN comunication --------------------------------------
#
# [*] Enable extra low-level configuration options
#     Micro-controller Architecture (STMicroelectronics STM32)  --->
#     Processor model (STM32F446)  --->
#     Bootloader offset (32KiB bootloader)  --->
#     Clock Reference (12 MHz crystal)  --->
#     Communication interface (USB to CAN bus bridge (USB on PA11/PA12))  --->
#     CAN bus interface (CAN bus (on PD0/PD1))  --->
#     USB ids  --->
#   (1000000) CAN bus speed
#   (PE11) GPIO pins to set at micro-controller startup

# 
#  Using microSD Card
#  Rename klipper.bin to "firmware.bin", copy it to the root directory of the
#  microSD card, insert the microSD card into the card slot of the board, click the
#  reset button, or power on again, the firmware will be updated automatically,
#  after the update is complete, "firmware.bin" in the microSD card will be renamed to "FIRMWARE.CUR".
#
# 
#  1.usb connection Issue commands in ssh 
#  ls /dev/serial/by-id/*
#
#  2.Communication with can interface Send commands in ssh
#  ~/klippy-env/bin/python ~/klipper/scripts/canbus_query.py can0
#

# See docs/Config_Reference.md for a description of parameters.

#-------------------------------------------------------------------------------------------------------------

[temperature_sensor RPi_4B]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

#-------------------------------------------------------------------------------------------------------------

[mcu]       
#serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_4D0043000A51313133353932-if00
canbus_uuid:48e296f74d26

[temperature_sensor Octopus]
sensor_mcu: mcu
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100


[printer]
kinematics: corexy
max_velocity: 700
max_accel: 20000
minimum_cruise_ratio: 0.5
max_z_velocity: 15 #5   
max_z_accel: 500 #15  
square_corner_velocity: 10.0

[exclude_object]

### enable G-code G2/G3
[gcode_arcs]   
resolution: 0.1

### enable G-code G10/G11
[firmware_retraction]  
retract_length: 0.6
retract_speed: 30
unretract_extra_length: 0
unretract_speed: 30

[virtual_sdcard]
path: /home/biqu/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[idle_timeout]
gcode:
     TURN_OFF_HEATERS
     M84
      {%  if 'gcode_macro M81' in printer %} 
        M81
      {% endif %}
      
timeout:3600   # 1 hour - default is 600 seconds.

[force_move]
enable_force_move: True

##########################################################
###                Driver cooling fan                  ###
##########################################################

[controller_fan TMC_driver]   
pin: PD14                    ## FAN4  - 24V DC
max_power: 1.0
kick_start_time: 0.5
off_below: 0.10
fan_speed: 1.0
stepper: stepper_x, stepper_y

##########################################################
###                EXP1 + EXP2                         ###
##########################################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5

# See the sample-lcd.cfg file for definitions of common LCD displays.

##########################################################
###                Bed Heater                          ###
##########################################################

[heater_bed]
heater_pin: PA1              ##  SSR Pin - BED_OUT ( Heating 230V / 750W )
sensor_type: Generic 3950
sensor_pin: PF3              ##  Thermistor - TB
max_power: 0.8 #0.6
#control: pid
#pid_Kp=67.461 
#pid_Ki=0.953 
#pid_Kd=1194.066
min_temp: 0
max_temp: 135 #115


#[temperature_sensor bed_plate]      ## temperature of the top surface bed
#sensor_type: Generic 3950
#sensor_pin:  PF6             ## Thermistor - T2 
#min_temp: 0  
#max_temp: 130
##gcode_id:


##########################################################
###              Chamber Heating                       ###
##########################################################

#[heater_generic chamber]
#gcode_id: c
#heater_pin:   PB11          ## SSR Pin - HE3  ( Heating 230V / 300W )
#max_power: 0.5
#sensor_type: Generic 3950
#sensor_pin:    PF7          ## Thermistor - T3  
#smooth_time: 1.0
#control: pid     
#pid_Kp: 4.271 
#pid_Ki: 0.025 
#pid_Kd: 182.178
#min_temp: 0
#max_temp: 70


#[heater_fan chamber]
#pin: PD13                   ## FAN3 - 24V DC
#max_power: 1.0
#kick_start_time: 0.5
#heater: chamber
#heater_temp: 40.0
#fan_speed: 1.0

##########################################################
###          BigTreeTech SFS V2.0                      ###
##########################################################

[filament_switch_sensor switch_sensor]
switch_pin: PG15      # STOP 7
pause_on_runout: False
runout_gcode:
   M117 Filament switch runout
   {action_respond_info("Activated runout sensor - switch ")}
   TRIGGER_RUNOUT SENSOR=switch
insert_gcode:
  M117 Filament switch inserted
  

[filament_motion_sensor encoder_sensor]
switch_pin: PG14         # STOP_6
detection_length: 4.00   # def = 2.88
extruder: extruder
pause_on_runout: False
runout_gcode:
  M117 Filament encoder runout
   {action_respond_info("Activated runout sensor - motion ")}
  TRIGGER_RUNOUT SENSOR=motion
insert_gcode:
  M117 Filament encoder inserted
  
